PORT=4000
MONGO_URI=mongodb://localhost:27017/smartbiz
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/smartbiz
FIREBASE_PROJECT_ID=smartbiz-ai
# FIREBASE_STORAGE_BUCKET=your-bucket-id
